name: Notify Release Report

on:
  workflow_call:
    inputs:
      release_version:
        required: false
        type: string

jobs:
  dispatch:
    runs-on: ubuntu-latest

 steps:
  - name: Send repository_dispatch
    run: |
      set -e

      RESPONSE=$(curl -s -w "\n%{http_code}" -X POST \
        -H "Authorization: Bearer ${{ secrets.RELEASE_LOG_UPLOADER_GH_TOKEN }}" \
        -H "Accept: application/vnd.github+json" \
        https://api.github.com/repos/kyma-project/compliancy/dispatches \
        -d '{
          "event_type": "upload-release-report",
          "client_payload": {
            "repository": "${{ github.repository }}",
            "run_id": "${{ github.run_id }}",
            "workflow": "${{ github.workflow }}",
            "conclusion": "${{ job.status }}",
            "branch": "${{ github.ref_name }}",
            "release_version": "${{ inputs.release_version }}"
          }
        }')

      BODY=$(echo "$RESPONSE" | head -n -1)
      STATUS=$(echo "$RESPONSE" | tail -n1)

      echo "HTTP Status: $STATUS"
      echo "Response: $BODY"

      if [ "$STATUS" -lt 200 ] || [ "$STATUS" -ge 300 ]; then
        echo "repository_dispatch failed"
        exit 1
      fi
