name: Release report

on:
  repository_dispatch:
    types: [upload-release-report]

jobs:
  upload-release-report:
    runs-on: ubuntu-latest
     
    permissions:
      actions: read
      contents: read
      
    steps:
      - name: Set release version
        run: |
          echo "RELEASE_VERSION=${{ github.event.client_payload.release_version }}" >> $GITHUB_ENV
          echo "Release number: ${{ github.event.client_payload.release_version }}"
  
      - name: Resolve run ID
        run: echo "RUN_ID=${{ github.event.client_payload.run_id || github.event.client_payload.run_id }}" >> $GITHUB_ENV
  
      - name: Create job summary
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OWNER: ${{ github.repository_owner }}
          REPO: ${{ github.event.repository.name }}
        run: |
          echo "Fetching workflow run details for RUN_ID=$RUN_ID..."
          gh api repos/$OWNER/$REPO/actions/runs/$RUN_ID > run_summary.json
  
          echo "Fetching jobs details..."
          gh api repos/$OWNER/$REPO/actions/runs/$RUN_ID/jobs > jobs_summary.json
  
          #echo "Fetching logs from the run"
          #gh run view "$RUN_ID" --repo "$OWNER/$REPO" --log > run.log   
          
          zip "${REPO}_${RELEASE_VERSION}.zip" \
            run_summary.json \
            jobs_summary.json \
            run.log
  
      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.RELEASE_LOG_UPLOADER_SA }}
  
      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ vars.GCP_KYMA_PROJECT_PROJECT_ID }}
  
      - name: Upload report to the GCP bucket
        env:
          REPO: ${{ github.event.repository.name }}
        run: |
          gsutil cp "${REPO}_${RELEASE_VERSION}.zip" gs://kyma_release_test_logs/
